{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static '/js/upload.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="form" action="{% url 'delete' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">
       确认删除
    </button>
  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
          <th>Choose</th>
          <th>ID</th>
        <th>Original</th>
          <th>Processed1</th>
          <th>Processed2</th>
          <th>Time</th>
      </tr>
    </thead>
    <tbody>

      {% for rcd in records %}
        <tr>
        <td><input type="checkbox" name="record" value={{ rcd.id }}> </td>
        <td>{{ forloop.counter }}</td>
          <td><img src="{{ rcd.original_url }}" style='max-width: 150px; max-height: 100px;'></td>
          <td><img src="{{ rcd.processed_url1 }}" style='max-width: 150px; max-height: 100px;'></td>
            <td><img src="{{ rcd.processed_url2 }}" style='max-width: 150px; max-height: 100px;'></td>
          <td>{{rcd.time}}</td>
        </tr>
      {% endfor %}

      <input name="from" value="{{ from }}" style="display: none">
        <input name="from" value="{{ to }}" style="display: none">
    </tbody>
  </table>
     </form>
{% endblock %}