{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static '/js/upload.js' %}"></script>
{% endblock %}

{% block content %}

  <div style="margin-bottom: 20px;">
  <span>
    <button type="button" class="btn btn-primary js-upload-photos">
      <span class="glyphicon glyphicon-cloud-upload"></span> 从本地上传图片
    </button>


    <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="{% url 'upload' %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>


    <input id="fileurl" style="margin-left: 550px; margin-right:10px; width:300px;" value="">
    <button type="button" class="btn btn-primary js-download-photos">
      <span class="glyphicon glyphicon-cloud-upload"></span> 从url上传图片
    </button>

  </span>
  </div>


  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
        <th>Original</th>
          <th>Processed1</th>
          <th>Processed2</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
{% endblock %}
