{% extends 'base.html' %}

{% load static %}




{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static '/js/upload.js' %}"></script>
{% endblock %}

{% block content %}
    <table>
 <tr>
  <td>
    <form class="form" action="{% url 'delete' %}" method="get" >
        <input name="from" value="{{ from }}" style="display: none">
        <input name="to" value="{{ to }}" style="display: none">
    <button type="submit" name="page" value="{{ records.number }}" class="btn btn-primary">
       批量删除
    </button>

    </form>
</td>
  <td>
    <form class="form" action="{% url 'records' %}" method="get" style="margin-left: 580px" >
    从<input type="date" name="from" value="" style="margin-left: 10px; margin-right: 10px">
        到<input type="date" name="to" value="" style="margin-left: 10px; margin-right: 10px">
    <button type="submit" name="page"  class="btn btn-primary" style="margin-left: 10px; ">
       按时间查询
    </button>
    </form>
</td>
 </tr>
</table>

  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
          <th>ID</th>
          <th>Username</th>
        <th>Original</th>
          <th>Processed1</th>
          <th>Processed2</th>
          <th>Time</th>
      </tr>
    </thead>
    <tbody>

      {% for rcd in records %}
        <tr>
        <td>{{ forloop.counter }}</td>
            <td>{{ rcd.username }}</td>
          <td><img src="{{ rcd.original_url }}" style="max-height: 100px; max-width: 150px"></td>
          <td><img src="{{ rcd.processed_url1 }}"  style="max-height: 100px; max-width: 150px"></td>
            <td><img src="{{ rcd.processed_url2 }}"  style="max-height: 100px; max-width: 150px"></td>
          <td>{{rcd.time}}</td>
        </tr>
      {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if records.has_previous %}
            <a href="?from={{ from }}&to={{ to }}&page=1">&laquo; first</a>
            <a href="?from={{ from }}&to={{ to }}&page={{ records.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ records.number }} of {{ records.paginator.num_pages }}.
        </span>

        {% if records.has_next %}
            <a href="?from={{ from }}&to={{ to }}&page={{ records.next_page_number }}">next </a>
            <a href="?from={{ from }}&to={{ to }}&page={{ records.paginator.num_pages }}"> last &raquo;</a>
        {% endif %}
    </span>
</div>
    </tbody>
  </table>
{% endblock %}