{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static '/js/upload.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="form" action="{% url 'delete' %}" method="get">
    <button type="submit" name="page" value="{{ records.number }}" class="btn btn-primary">
       批量删除
    </button>
    </form>
  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
          <th>ID</th>
          <th>Username</th>
        <th>Original</th>
          <th>Processed1</th>
          <th>Processed2</th>
          <th>Time</th>
      </tr>
    </thead>
    <tbody>

      {% for rcd in records %}
        <tr>
        <td>{{ forloop.counter }}</td>
            <td>{{ rcd.username }}</td>
          <td><img src="{{ rcd.original_url }}" style='max-width: 150px; max-height: 100px;'></td>
          <td><img src="{{ rcd.processed_url1 }}" style='max-width: 150px; max-height: 100px;'></td>
            <td><img src="{{ rcd.processed_url2 }}" style='max-width: 150px; max-height: 100px;'></td>
          <td>{{rcd.time}}</td>
        </tr>
      {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if records.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ records.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ records.number }} of {{ records.paginator.num_pages }}.
        </span>

        {% if records.has_next %}
            <a href="?page={{ records.next_page_number }}">next       </a>
            <a href="?page={{ records.paginator.num_pages }}"> last &raquo;</a>
        {% endif %}
    </span>
</div>
    </tbody>
  </table>
{% endblock %}